.dropdown-toggle::after {
  display: none !important;
}

/* SIDEBAR */
.hover-bg:hover {
  background-color: var(--bs-gray-600);
  color: white;
}
.nav-link {
  text-decoration: none !important;
}
/* SIDEBAR */

/* BSBreadcrumb */
.breadcrumb {
  margin-bottom: 0 !important;
}

/* BSBreadcrumb */

/* ...existing styles... */

.modal-90w {
    max-width: 90% !important;
}
.vscode-preview {
    background-color: #1e1e1e;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}